.contenuto {
	display: none;
}

.contenuto.show {
	display: block;
}

.pageload-overlay {
	background-color:#F30004;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.pageload-overlay img {
	position:absolute;
	top:50%;
	right:50%;
}
